.tip-container1 {
    height: 40px;
    text-align: center;
    background: rgba(56, 56, 56, 0.5);
    line-height: 40px;
    border-radius: 4px;
    padding: 0 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}